<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>com.home.cloud.server.endpoints.DownloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDirectoryContents</servlet-name>
        <servlet-class>com.home.cloud.server.endpoints.ShowDirectoryContents</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDirectoryContents</servlet-name>
        <url-pattern>/show-directory-contents</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
